.gsp * {
    box-sizing: border-box;
    margin: 0;
}
.gsp {
    font-family: "Times New Roman", sans-serif;
    user-select: none;
    width: 500px;
    max-width: 100%;
    margin: auto;
    text-align: center;
    font-weight: bold;
}
.gsp-row {
    margin-left: -10px;
    margin-right: -10px;
}
.gsp-1-3 {
    float: left;
    width: 33.3333%;
    padding-left: 10px;
    padding-right: 10px;
}
.gsp-left {
    float: left;
}
.gsp-right {
    float: right;
}
.gsp-center {
    text-align: center;
}
.gsp-header {
    margin-bottom: 10px;
    line-height: 42px;
}
.gsp-row:after {
    content: '';
    display: block;
    clear: both;
}
.gsp-block {
  width: 100%;
}
.gsp-line {
    margin: 5px 0;
}
.gsp-title {
    text-align: center;
    margin: 0;
    font-size: 30px;
    line-height: 44px;
    padding-top: 50px;
    color: #8f7a66;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black, 0 0 1em white;
}
.gsp-subtitle {
    font-size: 12px;
    text-align: right;
    font-weight: bold;
    color: #8f7a66;
}
.gsp-btn {
    background-color: #8f7a66;
    border-radius: 3px;
    padding: 10px 0;
    text-decoration: none;
    color: #f9f6f2;
    line-height: 20px;
    font-family: inherit;
    font-size: 14px;
    display: block;
    font-weight: bold;
    border: 0;
    transition: background-color .1s;
}
button.gsp-btn:hover {
    background-color: #6f5a46;
}
button.gsp-btn {
    cursor: pointer;
}
.gsp-btn-double {
    height: 85px;
}
.gsp-score-wr {
    padding-top: 25px;
}


.gsp.done .gsp-board {
    pointer-events: none;
    position: relative;
}
.gsp.done .gsp-board:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .1);
    z-index: 1;
}
.gsp.done .gsp-board:after {
    content: 'You won!';
    position: absolute;
    text-shadow: 2px 2px 2px #fff, 4px 4px 4px #000;
    font-size: 42px;
    line-height: 1;
    font-weight: bold;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -25px;
}
.gsp-board {
    background-color: #BBADA0;
    border-radius: 5px;
    border: 8px solid #BBADA0;
}
.gsp-board > div {
    cursor: pointer;
    width: 22%;
    margin: 1.5%;
    padding: 11% 0;
    line-height: 0;
    font-size: 56px;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    position: relative;
    transition: background .1s;
    box-sizing: border-box;
    color: #888;
    border-radius: 3px;
    text-shadow: 1px 1px 2px black, 0 0 1em white;
    cursor: pointer;
    border: 1px dotted #CCC;
}
.gsp-board > div[data-val="1"],
.gsp-board > div[data-val="2"],
.gsp-board > div[data-val="3"],
.gsp-board > div[data-val="4"] {
    background-color: #eed;
}
.gsp-board > div[data-val="5"],
.gsp-board > div[data-val="6"],
.gsp-board > div[data-val="7"],
.gsp-board > div[data-val="8"] {
    background-color: #dde;
}
.gsp-board > div[data-val="9"],
.gsp-board > div[data-val="10"],
.gsp-board > div[data-val="11"],
.gsp-board > div[data-val="12"] {
    background-color: #ded;
}
.gsp-board > div[data-val="13"],
.gsp-board > div[data-val="14"],
.gsp-board > div[data-val="15"] {
    background-color: #edd;
}
.gsp-board > div[data-val]:not([data-val=""]):hover {
    background: #ffe2c5;
}
